pip>=26.0.1
openai==2.28.0
streamlit==1.55.0
langchain==1.2.12
langchain_core==1.2.19
langchain-community==0.4.1
langchain-openai==1.1.11
langchain-deepseek==1.0.1
langchain-ollama==1.0.1
langchain-chroma==1.1.0
langgraph==1.1.2
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.11
langgraph-checkpoint-sqlite==3.0.3
langgraph-cli[inmem]
langsmith==0.7.17
chromadb==1.5.5
tavily-python==0.7.23
nltk==3.9.3
tiktoken==0.12.0
ollama==0.6.1
pydantic==2.12.5
docx2txt==0.9
python-docx==1.2.0
ipython==9.11.0

